#pokeball {
    height: 50px;
    width: 50px;
    background-image: url('./pokeball-close.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}

#pokeball:hover {
    background-image: url('./pokeball-open.png');
    transition: all 400ms;    
}

.container {
    max-width: 63rem;
    margin: 2rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}